/*html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, img, i, form {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}*/
body {
    background-color: #1a1a1a;
}
#game {
    position: relative;
    margin-left: auto;
    display: block;
    width: 1300px;
}

#menu {
    top: 50px;
    position: absolute;
    left: 50px;
}

#myMenu .modal-dialog{
    width: 320px;
    margin: 10px 0;
}